.body3{
  background-image:url("../img/fondo_simple.jpeg");
}
.containers {
    width: 100%;
    max-width: 1150px;
    height: 720px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #idimout{
    display: block !important;
    width: 70px !important;
    margin-left: 75% !important;
    margin-top: -20%;
    
    opacity:0 ;

  }
  .camhioacti{
    display: block !important;
  }

  .personalizao{
    border-radius: 40% !important;
    width: 40px;
    height: 35px;
    margin-left: 62%;
    margin-top: -13%;

  }
  .personalizado{
    opacity: 0;
    width: 40px;
    height: 35px;
    margin-left: 62%;
    margin-top: -12%;
    z-index: 2;

  }

  .tabla {
    widows: 350px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 15px;
  }



  .flip-card {
    background-color: transparent;
    width: 550px;
    height: 400px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "AvenirNextLTPro-Light", Sans-serif;
    transition: transform 1s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }

  .targetarotar{
    transform: rotateY(180deg);
  }

  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: black;
  }


  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    font-family: "AvenirNextLTPro-Light", Sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .card{
    background-size: cover;
    /* margin-left: -20%; */
  }
  h5{
    color: black;
    font-size: 16px;
    font-family: "AvenirNextLTPro-Bold", Sans-serif;
  }
  #stylea{
      padding-top: 1px !important;
    }
    #styleb{
        border-radius: 150px !important;
        width: 255px; height: 255px !important; 
        padding: 20px; margin-top: 20px !important;
        margin-left: auto !important; 
        margin-right: auto !important;
        display: block !important;
        justify-content: center !important;
                                                   
    }
    #stylec{
        text-align: center;
        color: black;
    }
    #styled{
        text-align: left;
    }
    #stylebt153{
        background-color: #0079C1;
        margin-left: 2%;
    }
    #stylebt{
      background-color: #0079C1;
      margin-right: 2%;
  }
    #stylef{
      text-align: center;
      color: black !important;
    }
  

    .colorazul{
background-color: #122337 !important;
    }
.colormorado{
background-color: #694B99 !important;
}
.colorverde{
background-color: #048678 !important;
}
.colorgris{
background-color: #747071 !important;
}
#zindex{
  z-index: 30 !important;
}
#lastajdas{
  background-color:rgba(230, 28, 28, 0.897);
  margin-left: -3px !important;
  border: rgba(230, 28, 28, 0.897);
}
.lastajdas1{
  margin-left: -3px !important;
  border:rgba(88, 241, 121, 0.973)!important;
  background-color: rgba(88, 241, 121, 0.973) !important;

}
